<ion-content [fullscreen]="true">
  <ion-row class="add-folder-action">
    <h4>My Folders :</h4>
    <svg id="open-custom-dialog" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
      fill="none">
      <circle cx="20" cy="20" r="20" fill="white" />
      <path d="M20 15V25" stroke="#6EAFDF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M15 20H25" stroke="#6EAFDF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </ion-row>
  <ion-row class="shared-folders-empty" *ngIf="false">
    <ion-text>You currently have no shared folders</ion-text>

  </ion-row>

  <div class="created-folders">
    <app-folder></app-folder>
  </div>

  <ion-modal id="create-folder-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <app-create-folder (closeModal)="modal.dismiss()" (createFolder)="createFolder($event)"></app-create-folder>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>