ion-card {
    color: var(--ion-text-dark-color);
    background-color: var(--ion-text-color);
}

ion-card-title {
    font-family: var(--ion-font-montserrat);
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: bold;
    margin-top: 0;
    color: var(--ion-text-dark-color);
}

ion-card-content {
    width: 100%;
    margin: auto;
}

.pill {
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-text-color);
    border-radius: 12px;
    width:120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin: auto;
}

.pill-correct {
    background-color: var(--ion-color-correct);
}

.pill-incorrect {
    background-color: var(--ion-color-incorrect);
}

ion-card .list-md {
    background-color: var(--ion-text-color);
}

ion-item {
    margin: 12px 0;
    background: var(--ion-text-color);
    border: solid 2px var(--ion-color-secondary);
    border-radius: 12px;
}

ion-ripple-effect {
    background-color: var(--ion-text-color);
    color: var(--ion-color-secondary);
}

ion-radio {
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-text-color-dark);
}

:host::ng-deep .custom-radio {
    
    .radio-wrapper {
        justify-content: center;
    }

    ion-radio {
        label {
            .native-wrapper{
                display: none;
            }
        }
    }
}
