<form [formGroup]="formGroup">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ng-content select="[header]"></ng-content>
      </ion-card-subtitle>
      <ion-card-title>{{quizItem?.question}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ng-content select="[result]"></ng-content>
      <ion-list>
        <ion-radio-group formControlName="selectedOption" >
          <ion-item justify="center" class="custom-radio" *ngFor="let option of quizItem?.options;">
            <ion-radio (ionSelect)="handleChange(option)"
              [disabled]="formGroup.disabled"
             [value]="option">{{ option }}</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
</form>


