<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
        <ion-text>Question {{quizItem?.no}} of {{quizItem?.total}}</ion-text>
        <div class="time">
          <ion-icon [src]="time" class="font-size-60"></ion-icon>
          <ion-text>{{getTime() | date:'mm:ss'}}</ion-text>
        </div>
    </ion-card-subtitle>
    <ion-card-title>{{quizItem?.question}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div *ngIf="correct === true" class="pill pill-correct">
      <ion-text>👏🏼 Correct</ion-text>
    </div>
    <div *ngIf="correct === false" class="pill pill-incorrect">
      <ion-text>😿 Incorrect</ion-text>
    </div>
    <ion-list>
      <ion-radio-group (ionChange)="handleChange($event)">
        <ion-item justify="center" class="custom-radio" *ngFor="let option of quizItem?.options;">
          <ion-radio [value]="option">{{ option }}</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card-content>
</ion-card>

