.background-images {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mainbackground{
    position: absolute;
}

.filebackground{
    position: absolute;
    height: 18rem;
    width: 28rem;
}

.orbContainer {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 50%;
    left: -6;
}

.fileContainer {
    position: absolute;                                                               
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 60%;
    right: 4%;
}