<div class="shared-folders">
  <ion-text *ngIf="false">You currently have no shared folders</ion-text>
  <div class="card">
    <ion-input [(ngModel)]="folderName" class="folder-name-input" label="Folder Name"
      labelPlacement="stacked"></ion-input>
    <div class="action-buttons">
      <ion-button class="cancel-button" (click)="onCloseModal()">Cancel</ion-button>
      <ion-button class="create-button" (click)="onCreateFolder()"
        [disabled]="folderName.length < 1">Create</ion-button>
    </div>
  </div>
</div>