@import '../../../theme/variables.scss';

ion-row {
    margin-top: 1rem;

    ion-text {
        color: var(--ion-color-tertiary);
        text-align: center;
        font-family: $lato-font;
        font-size: 4rem;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        word-spacing: 100vw;
    }
}

ion-grid{
    height: 100%;
    grid-gap: 8px;
}

.vcenter{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    margin: auto;
    width: 60%;
}