<ion-content [fullscreen]="true">
  <div class="company">
    <ion-img class="logo" src="../../../../assets/images/pacifish.png"></ion-img>
    <ion-text class="about-company">
      <p>Welcome to Pacifish, a thriving software company dedicated to nurturing young minds
        brimming with curiosity and a passion for knowledge. Our journey is one of continuous growth, where we embrace
        the
        excitement of exploration and learning. Together, we're on a mission to unlock the mysteries of technology and
        create innovative solutions. Join us as we pave the way for new possibilities and discoveries!</p>
    </ion-text>
  </div>

  <div class="team-section">
    <ion-text class="team-heading">
      <p>Meet the team that built this Application</p>
    </ion-text>
    <app-team-card [team]="team"></app-team-card>
  </div>
</ion-content>