@import '../../../../theme/variables.scss';

.company {
    margin-top: 4rem;

    ion-img.logo {
        width: 12rem;
        height: 3.75rem;
        margin-left: auto;
        margin-right: auto;
    }

    ion-text.about-company p {
        margin-top: 1.5rem;
        color: var(--ion-color-text);
        text-align: center;
        font-family: var(--ion-font-lato);
        font-size: 0.813rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.team-section {
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    ion-text p {
        color: var(--ion-color-text);
        font-family: var(ion-fontmontserrat);
        font-size: 0.813rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
}