@import '../../../../theme/variables.scss';

.company {
    margin-top: 4rem;

    ion-img.logo {
        width: 12rem;
        height: 3.75rem;
        margin-left: auto;
        margin-right: auto;
    }

    ion-text.about-company p {
        margin-top: 1.5rem;
        color: $white-color;
        text-align: center;
        font-family: $lato-font;
        font-size: 0.813rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.team-section {
    margin-top: 1.5rem;

    ion-text p {
        color: $white-color;
        font-family: $montserrat-font;
        font-size: 0.813rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
}