@import '../../../../../theme/variables.scss';

.HelpGuidedVideos{
    width: 26.75rem;
    height: 57.875rem;
    position: relative; 
    background: linear-gradient(180deg, #123753 2%, #295374 24%, #407096 51%, #578FBA 78%, #6EAFDF 100%)
}
.GuidedVideos{
    width: 18.1875rem;
    left: 1.75rem;
    top: 10.625rem;
    color: #FFF;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
}
.Line21{
    width: 26.75119rem;
    height: 0.0625rem;
    top: 14rem;
    background: #E8F9FD;
    position: absolute;
}
.HelpItem1{
    width: 22.625rem;
    top: 15.625rem;
    left: 1.75rem;
    position: absolute;
}
.Vector{
    width: 0.3125rem;
    height: 0.625rem;
    left: 22.3125rem;
    top: 1.4375rem;
    position: absolute;
}
.Vector1{
    width: 0.3125rem;
    height: 0.625rem;
    left: 22.1875rem;
    top: 0.625rem;
    position: absolute;
}
.Change{
    width: 18.1875rem;
    color: #E8F9FD;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
}
.HelpItem2{
    width: 22.5rem;
    left: 1.625rem;
    top: 20.75rem;
    position: absolute;
}
.Scan{
    width: 18.1875rem;
    color: #E8F9FD;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
}
.Upload{
    width: 18.1875rem;
    color: #E8F9FD;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
}
.Share{
    width: 18.1875rem;
    color: #E8F9FD;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
}
.HelpItem4{
    width: 22.625rem;
    left: 1.5rem;
    top: 24.0625rem;
    position: absolute;
}
.HelpItem3{
    width: 22.5rem;
    left: 1.625rem;
    top: 29.1875rem;
    position: absolute;
}
