@import '../../../../theme/variables.scss';

.image {
    margin-top: 7.5rem;

    h4 {
        color: $light-blue-color;
        font-family: $montserrat-font;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}