<ion-content [fullscreen]="true">
  <ion-menu contentId="authenticated">
    <ion-content>
      <div class="profile">
        <div class="default-profile-image">
          <svg width="132" height="132" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="66" cy="66" r="66" fill="white" />
            <path
              d="M74.8004 72.6H57.2004C52.3403 72.6 48.4004 76.54 48.4004 81.4V85.8H66.0004H83.6004V81.4C83.6004 76.54 79.6604 72.6 74.8004 72.6Z"
              stroke="#6EAFDF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M66.0012 63.8C70.8612 63.8 74.8012 59.8601 74.8012 55C74.8012 50.1399 70.8612 46.2 66.0012 46.2C61.1411 46.2 57.2012 50.1399 57.2012 55C57.2012 59.8601 61.1411 63.8 66.0012 63.8Z"
              stroke="#6EAFDF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <ion-text>Peter Parker</ion-text>
      </div>
      <hr>
      <div class="menu-options">
        <ul>
          <li *ngFor="let option of menuOptions">
            <a [routerLink]="option.url">{{ option.option }}</a>
          </li>
        </ul>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="authenticated">

    <ion-header>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="20" fill="white" />
        <path
          d="M22.666 22H17.3327C15.8599 22 14.666 23.1939 14.666 24.6667V26H19.9993H25.3327V24.6667C25.3327 23.1939 24.1387 22 22.666 22Z"
          stroke="#6EAFDF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M19.9987 19.3333C21.4714 19.3333 22.6654 18.1394 22.6654 16.6667C22.6654 15.1939 21.4714 14 19.9987 14C18.5259 14 17.332 15.1939 17.332 16.6667C17.332 18.1394 18.5259 19.3333 19.9987 19.3333Z"
          stroke="#6EAFDF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </ion-header>

    <ion-router-outlet id="authenticated"></ion-router-outlet>
  </div>

</ion-content>