@import '../../../../../theme/variables.scss';

.HelpDataPrivacy{
    background: linear-gradient(180deg, #123753 1.62%, #295374 23.96%, #407096 51.08%, #578FBA 77.6%, #6EAFDF 100%);
    width: 26.75rem;
    height: 151rem;
    position: relative;
}
.Heading{
    height: 1.875rem;
    width: 23.25rem;
    color: #FFF;
    font-style: normal;
    flex-shrink: 0;
    font-family: Lato;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
            .CookiesAndTracking{
                top: 85.25rem;
                left: 1.5rem;
            }
            .Data{
                left: 1.75rem;
                top: 11.25rem;
            }
            .DataSecurity{
                width: 23.25rem;
                top: 42.6875rem;
                left: 1.625rem;
            }
            .PrivacySettings{
                height: 2rem;
                top: 64.4375rem;
                left: 1.625rem;
            }
            .PrivacyPolicy{
                left: 1.5rem;
                top: 106.625rem;
            }
            .ContactUs{
                left: 1.4375rem;
                top: 118.25rem;
            }
}
        .Questions{
            width: 23.25rem;
            left: 1.5625rem;
            top: 120.125rem;
            color: #FFF;
            font-family: Montserrat;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: absolute;
            word-wrap: break-word;
        }
.Frame{
    width: 26.75rem;
    height: 137rem;
    flex-shrink: 0;
    top: 14rem;
    position: absolute;
}
.Info{
    width: 23.25rem;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
            .Protecting{
                top: 1.5rem;
                left: 1.75rem;
            }
            .WeWant{
                top: 13.125rem;
                left: 1.75rem;
            }
            .WeTake{
                top: 44.5625rem;
                left: 1.75rem;
            }
            .WeProvide{
                left: 1.625rem;
                top: 65.9375rem;
            }
            .DataTypes{
                left: 1.625rem;
                top: 30.0625rem;
            }
            .ThirdParties{
                top: 35.6875rem;
                left: 1.75rem;
            }
            .Encryption{
                height: 4.25rem;
                top: 48.8125rem;
                left: 1.75rem;
                flex-shrink: 0;
            }
            .Folder{
                top: 5.625rem;
            }
            .DataDeletion{
                top: 9.875rem;
            }
            .Cookies{
                height: 5.4375rem;
                left: 1.5rem;
                top: 92.75rem;
                flex-shrink: 0;
            }
            .ThirdParty{
                height: 5.4375rem;
                left: 1.5rem;
                top: 99.6875rem;
                flex-shrink: 0;
            }
            .Regular{
                top: 4.25rem;
            }
            .Purpose{
                left: 1.625rem;
                top: 18.75rem;
            }
            .Consent{
                height: 2.8125rem;
                left: 1.625rem;
                top: 25.75rem;    
                flex-shrink: 0;
            }
            .WeAreCommitted{
            
                left: 1.5rem;
                top: 127.125rem;
            }
            .WeUseCookies{
                left: 1.625rem;
                top: 87.125rem;
            }
            .ForMore{
                left: 1.625rem;
                top: 108.5rem;
            }
}
.Group15{
    width: 23.25rem;
    height: 14rem;
    left: 1.625rem;
    top: 71.5625rem;
    flex-shrink: 0;
    position: absolute;
}
.Group14{
    width: 23.25rem;
    height: 8.375rem;
    left: 1.625rem;
    top: 54.5625rem;
    flex-shrink: 0;
    position: absolute;
}
.DataAndPrivacy{
    width: 23.4375rem;
    left: 1.75rem;
    top: 10.6875rem;
    color: #FFF;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    word-wrap: break-word;
}
.Line21{
    width: 26.75119rem;
    height: 0.0625rem;
    top: 14rem;
    background: #E8F9FD;
    position: absolute;
}